@charset "UTF-8";
@keyframes anim-ext {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes anim-int {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1440deg);
  }
}
@keyframes anim-ico {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
@keyframes hidden-loader {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(200vw);
  }
}
@keyframes visible-container {
  0% {
    transform: translateX(-200vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes visible-menu {
  0% {
    transform: translateY(5vh);
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Général*/
body {
  font-family: Roboto, Shrikhand, sans;
  font-size: 12pt;
  width: 95vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

.shrikhand {
  font-family: Shrikhand, Roboto, sans;
}

/* Le footer*/
footer {
  color: white;
  background: black;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space space-evenly;
  align-items: center;
  height: 5vh;
  color: white;
}
.foot__icon {
  padding-right: 1rem;
}
.foot--h2 {
  padding-left: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}
.foot--a {
  padding-left: 1rem;
}
.foot--only {
  padding-left: 1rem;
  padding-bottom: 2.1rem;
}

/*************** Page d'accueil***************/
.header {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__text {
  padding-left: 1rem;
}

.image-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px #939393;
  margin-top: 1rem;
  margin-bottom: 3px;
}
.image-header--logo {
  flex-grow: 1;
  text-align: center;
}
.image-header__marque {
  padding-left: 1rem;
}
.image-header--dell {
  box-shadow: none;
}
.image-header--hidden {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: hidden-loader;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  transform: scale(0);
}
.loader__external {
  margin: auto;
  padding: auto;
  width: 90vw;
  max-width: 720px;
  height: 90vw;
  max-height: 720px;
  border-radius: 90vw;
  border: 4px solid #9356DC;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: flex;
  align-items: center;
  animation-name: anim-ext;
  animation-duration: 3000ms;
}
.loader__internal {
  padding: auto;
  margin: auto;
  width: 70vw;
  max-width: 560px;
  height: 70vw;
  max-height: 560px;
  border-radius: 70vw;
  border: 4px solid #FF79DA;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  display: flex;
  align-items: center;
  animation-name: anim-int;
  animation-duration: 3000ms;
}
.loader__icon {
  margin: auto;
  padding: auto;
  font-size: 20vh;
  color: #99E2D0;
  animation-name: anim-ico;
  animation-duration: 3000ms;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation-name: visible-container;
  animation-duration: 1800ms;
  animation-timing-function: linear;
}

.btn {
  position: relative;
  border: none;
  z-index: 1;
  width: 14rem;
  margin: auto;
  margin-top: 1em;
  height: 3rem;
  background: radial-gradient(ellipse at top left, #FF79DA, transparent), radial-gradient(ellipse at bottom right, #9356DC, transparent);
  border-radius: 300px;
  box-shadow: 5px 5px 5px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover .btn__light {
  opacity: 1;
}
.btn__light {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: radial-gradient(ellipse at top left, #ffc6ef, transparent), radial-gradient(ellipse at bottom right, #bc95e9, transparent);
  height: 3rem;
  width: 14rem;
  border-radius: 300px;
  box-shadow: 8px 8px 8px lightgray;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 300ms;
}
.btn__command {
  color: white;
}

.title {
  text-align: center;
}
.title__h1 {
  font-weight: bold;
  font-size: 1.7rem;
}
.title__btn {
  color: white;
  height: 4rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 501px) {
  .display-br {
    display: none;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid violet;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.fonctionnement__h2 {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  margin-bottom: 1em;
  max-width: 800px;
}

.restaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid limegreen;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.restaurants__h2 {
  flex-grow: 1;
  margin: auto;
  margin-bottom: 1em;
  width: 100vw;
  max-width: 800px;
}

.boite-fonction {
  width: 88vw;
  max-width: 750px;
  border: 1px solid black;
  background-color: #EAEAEA;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 5px 5px 5px #b9b9b9;
  border-radius: 1rem;
}
.boite-fonction--pink {
  background-color: #ffeefa;
}
.boite-fonction__nombre {
  color: white;
  background-color: #9356DC;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  margin-right: 1em;
  margin-left: -0.6em;
}
.boite-fonction__icon {
  color: #939393;
  margin-right: 1rem;
}
.boite-fonction__icon--pink {
  color: #9356DC;
}

.boite-resto {
  width: 90vw;
  max-width: 350px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 5px 5px 5px #b9b9b9;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px red solid;
}
.boite-resto__image {
  object-fit: cover;
  display: box;
  height: 70vw;
  max-height: 180px;
  width: 100%;
  margin: 0;
  margin-top: -50px;
  position: relative;
}
.boite-resto__newtext {
  color: #008768;
  background: #99E2D0;
  width: 80px;
  position: absolute;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 165px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.boite-resto__plus {
  width: 100%;
  max-width: 350px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.boite-resto__plus--adapt {
  max-height: 60px;
  flex-grow: 0.7;
  margin: auto;
}
.boite-resto__heading {
  margin-top: 5px;
  margin-bottom: 0;
}
.boite-resto__text {
  margin-top: 3px;
  margin-bottom: 5px;
}
.boite-resto__icone {
  position: relative;
  z-index: 1;
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boite-resto__icone:hover .boite-resto__icone--rose {
  opacity: 1;
  transform: scaleY(1);
}
.boite-resto__icone--rose {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  color: #9356DC;
  height: 1.2rem;
  width: 1.2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scaleY(0);
  transition: all 900ms;
  transition-timing-function: ease-in-out;
}

/*************** Les pages de menus***************/
.main-complet__image {
  height: 70vw;
  max-height: 700px;
  width: 100%;
}
.main-complet__image--alfa {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") 0 0;
  background-size: cover;
}
.main-complet__image--alfb {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") 0 0;
  background-size: cover;
}
.main-complet__image--alfc {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") 0 0;
  background-size: cover;
}
.main-complet__image--alfd {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") 0 0;
  background-size: cover;
}

.main-main {
  background-color: white;
  margin: 0;
  margin-top: -15vw;
  border-radius: 4rem 4rem 0 0;
  background-color: #efefef;
  padding: 0;
  padding-bottom: 1em;
}

label {
  cursor: pointer;
}

input[type=checkbox].toggle {
  display: none;
}
input[type=checkbox].toggle + label {
  position: relative;
  z-index: 1;
  font-size: 1.3rem;
  color: black;
  margin: auto;
  margin-right: 2rem;
  font-weight: 400;
  transition: all 600ms;
}
input[type=checkbox].toggle + label::after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 1.3rem;
  color: #9356DC;
  margin: auto;
  content: "";
  font-weight: 900;
  transform: scale(0);
  transition: all 600ms;
}
input[type=checkbox].toggle:checked + label::after {
  transform: scaleY(1);
}
input[type=checkbox].toggle:checked + label {
  color: #9356DC;
}

.title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.title-menu__h1 {
  font-weight: bold;
  padding-left: 1rem;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1.5em;
}
.menus__h2 {
  font-weight: normal;
  margin: 0 0 2px 1em;
}
.menus__form {
  background-color: #99E2D0;
  height: 5px;
  width: 60px;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 1px;
}
.menus__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 86vw;
  max-width: 768px;
  height: 64px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 5px #b9b9b9;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 1rem;
  margin-top: 1.5em;
  margin-bottom: 0.4em;
  animation: visible-menu;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}
.menus__container--delai1 {
  animation-delay: 1000ms;
}
.menus__container--delai2 {
  animation-delay: 1300ms;
}
.menus__container--delai3 {
  animation-delay: 1600ms;
}
.menus__container--delai4 {
  animation-delay: 1900ms;
}
.menus__container:hover .menus__OK {
  margin-right: 0;
  transform: translateX(1px);
}
.menus__container:hover .menus__OK--rotate {
  transform: rotate(360deg);
}
.menus__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;
}
@media screen and (max-width: 500px) {
  .menus__text {
    font-size: 0.8rem;
  }
}
.menus__text--modif {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menus__text--title {
  font-weight: bold;
  margin: 0.8em 0em 0.2em 0.5em;
  width: auto;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .menus__text--title {
    font-size: 0.8rem;
  }
}
.menus__text--subtitle {
  width: auto;
  max-width: 80%;
  margin: 0em 0em 0.8em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .menus__text--subtitle {
    font-size: 0.8rem;
  }
}
.menus__text--price {
  font-weight: bold;
  margin: 0 0.2em 0.8em -9em;
}
.menus__OK {
  color: white;
  background-color: #99E2D0;
  text-align: center;
  vertical-align: center;
  width: 64px;
  height: 64px;
  margin: 0;
  margin-right: -4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  transform: translateX(65px);
  transition: all 900ms;
  transform-origin: bottom right;
}
.menus__OK--rotate {
  transition: all 900ms;
}

/*# sourceMappingURL=style.css.map */
