@keyframes anim-ext{
    0%{
        transform:rotate(0deg);
    }
    13%{
        transform:rotate(45deg);
    }
    25%{
        transform:rotate(95deg);
    }
    37%{
        transform:rotate(135deg);
    }
    50%{
        transform:rotate(180deg);
    }
    63%{
        transform:rotate(220deg);
    }
    75%{
        transform:rotate(270deg);
    }
    87%{
        transform:rotate(305deg);
    }
    100%{
        transform:rotate(360deg);
        
    }
}
@keyframes anim-int{
    0%{
        transform:rotate(0deg);
    }
    13%{
        transform:rotate(-90deg);
    }
    25%{
        transform:rotate(-190deg);
    }
    37%{
        transform:rotate(-270deg);
    }
    50%{
        transform:rotate(-360deg);
    }
    63%{
        transform:rotate(-440deg);
    }
    75%{
        transform:rotate(-540deg);
    }
    87%{
        transform:rotate(-610deg);
    }
    100%{
        transform:rotate(-720deg);
    }
}
@keyframes anim-ico{
    0%{
        transform:rotate(90deg);
    }
    13%{
        transform:rotate(45deg);
    }
    25%{
        transform:rotate(185deg);
    }
    37%{
        transform:rotate(135deg);
    }
    50%{
        transform:rotate(270deg);
    }
    63%{
        transform:rotate(220deg);
    }
    75%{
        transform:rotate(360deg);
    }
    87%{
        transform:rotate(305deg);
    }
    100%{
        transform:rotate(450deg);
    }
}
@keyframes hidden-loader{
    0%{
        height:100vh;
        transform: scale(1);
    }
    10%{
        height: 100vh;
        transform: scale(1);
    }
    95%{
        height: 100vh;
        transform: scale(1);
    }

    100%{
        height:1vh;
        transform: scale(0);
        
    }
}