$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fond-gris: #EAEAEA;
$color-gris: #939393;
$color-green: #008768;
$duree:3000ms;
$duree2: 1800ms;
$duree3: 300ms;
$duree4: 900ms;
$duree5: 600ms;
$delai: 1000ms;
$larg: taille(320px);