.main-complet{
    &__image{
        height:70vw;
        max-height: 700px;
        width: 100%;
        &--alfa{            
            background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") 0 0;  
            background-size: cover;         
        }
        &--alfb{            
            background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") 0 0;  
            background-size: cover;         
        }
        &--alfc{            
            background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") 0 0;  
            background-size: cover;         
        }
        &--alfd{            
            background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") 0 0;  
            background-size: cover;         
        }
    }
}
.main-main{
    background-color: white;
    margin:0;
    margin-top: -15vw;
    border-radius: 3rem 3rem 0 0;
    background-color: lighten($color-fond-gris,2%);
    padding:0;
    padding-bottom: 1em;
}
.title-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:1.3rem;
    &__h1{
        font-weight: bold;
        padding-left: 1.5rem;
    }
    &__coeur{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-right: 1.5rem;
    }
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    margin-bottom: 1.5em;
    &__h2{
        font-weight: normal;
        font-size:1rem;
        margin: 0 0 2px 1em;
    }
    &__form{
        background-color: $color-tertiary;
        height:5px;
        width: 40px;
        margin-left: 1em;
        margin-right:0;
        margin-top:1px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.box{
    @include mobile-only;
    display:flex;
    flex-direction: row;
    background-color: white;
    width: 86vw;
    max-width: 768px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px lighten($color-gris,15);
    border-radius: 0.7rem;
    overflow: hidden;
    font-size: 1rem;
    margin-top:1.5em;
    margin-bottom:0.4em;
    animation: visible-menu;
    animation-duration: $duree;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity:0;
    cursor: pointer;
    &--detail1{
        animation-delay: $delai;    
    }
    &--detail2{
        animation-delay: $delai+300;   
    }
    &--detail3{
        animation-delay: $delai+600;   
    }
    &--detail4{
        animation-delay: $delai+900;
    }
    &__info{
        display:flex;
        flex-direction: column;
        margin:auto;
        margin-right: 2px;
        margin-left: 0.1em;
        height:100%;
        width: 1%;
        flex-grow:1;
        transition: all $duree4;    
        &--title{
            display:flex;
            flex-direction: row;
            align-items: center;
            height:32px;
            flex-grow: 1;
            font-weight: bold;
            margin: auto;
            margin-left: 0.5em;
            
        }
        &--subtitle{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 32px;
            margin: auto;
            margin-left: 0.5em;
            margin-right: 0.1em;
        }
    }
    &__OK{
        display:flex;
        color: white;
        background-color: $color-tertiary;
        text-align: center;
        vertical-align: center;
        width: 0px;
        height: 64px;
        margin:0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-size: cover;
        flex-grow: 0;
        flex-shrink: 0;
        transition: all $duree4;
        &--move{
            transition: all $duree4;
        }        
    }
}
.title{
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subtitle{
    flex-grow:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.price{
    font-weight: bold;
    margin: auto;
}   
