.toggle{
	display: none;
}
.heart-toggle{
    position: relative;
    z-index: 1;
    font-size: 1.3rem;  
    margin: auto ;
    font-weight:400;
    transition: all 600ms;
    display: flex;
	justify-content: center;
	align-items:center;
    cursor:ns-resize;
	background: transparent;
    .toggle:checked+&{
        color:transparent;
    }
.over {
    position: absolute;
    top:0; 
    right:0;
    bottom:0; 
    left:0;
    display:flex;
  	justify-content: center;
	align-items:center;
}
.full {
    @include gradient-text('linear-gradient(25deg, #{$color-secondary}, #{$color-primary})', 'light');
}
.full {
    transition: all 600ms;
    margin: auto ;
    font-weight: 900;
    transform: scale(0);
    transform-origin: 50% 1.08rem;
    .toggle:checked+&{
        transform: scaleY(1);
    }
}
}
.icon-move{
    display:none;
}
.icon-move:checked ~ .box__OK{
    width: 64px;
}
.icon-move:checked ~ .box__OK .box__OK--move{
    transform:rotate(720deg);
}
.icon-move:checked ~ .box__info{
    @include largeur($larg);
}
