/* Général*/
body{

    font-family: Roboto, Shrikhand, sans;
    font-size: 12pt;
    width:95vw;
    max-width:800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
a{
    color: black;
    text-decoration: none;
    display: block;
}
.shrikhand{
    font-family: Shrikhand, Roboto, sans;
}
/* Le footer*/
footer{
    color: white;
    background: black;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space space-evenly;
    align-items: center;
    height: 5vh;
    color: white;
    &__icon{
        padding-right: 1rem;
    }
    &--h2{
        padding-left: 1rem;
    }
    &--a{
        padding-left: 1rem;
    }
    &--only{
        padding-left: 1rem;
        padding-bottom: 2.1rem;
    }
}
/*************** Page d'accueil***************/
.header{
    background-color: $color-fond-gris;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__text{
        padding-left: 1rem;
    }
}
.image-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px $color-gris;
    margin-top:1rem;
    margin-bottom: 3px;
    &--logo{
        flex-grow:1;
        text-align: center;
    }
    &__marque{
        padding-left: 1rem;
    }
    &--dell{
        box-shadow: none;
    }

    &--hidden{
        display: none;
    }    
}
.loader
{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    animation-name: hidden-loader;
    animation-duration: $duree;
    animation-timing-function: cubic-bezier(1,0,1,1);
    transform: scale(0); 
    &__external{
        margin:auto;
        padding: auto;
        width:90vw;
        max-width: 720px;
        height: 90vw;
        max-height: 720px;
        border-radius: 90vw;
        border: 4px solid $color-primary;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
        animation-name: anim-ext;
        animation-duration: $duree;
    }
    &__internal{
        padding: auto;
        margin: auto;
        width: 70vw;
        max-width: 560px;
        height: 70vw;
        max-height: 560px;
        border-radius: 70vw;
        border: 4px solid $color-secondary;
        border-top: 4px solid transparent;
        border-left: 4px solid transparent;
        display: flex;
        align-items: center; 
        animation-name: anim-int;
        animation-duration: $duree;       
    }
    &__icon{
        margin: auto;
        padding: auto;
        font-size: 20vh;
        color: $color-tertiary;
        animation-name: anim-ico;
        animation-duration: $duree;
    }   
}
.container{
    width: 100%;
}
.title{
    text-align: center;
    &__h1{
        font-weight: bold;
        font-size: 1.7rem;
    }
    &__btn{
        width: 13rem;
        height:auto;
        color: white;
        background: radial-gradient(ellipse at top left, $color-secondary,transparent), radial-gradient(ellipse at bottom right,$color-primary,transparent);
        margin-left: auto;
        margin-right: auto;
        padding:15px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px lighten($color-gris,25);
    }
}
.display-br{
    @include no-mobile;

}
.fonctionnement{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid violet;
    margin-top:1.5em;
    margin-bottom: 1.5em;
    &__h2{
        flex-grow: 1;
        margin: auto;
        margin-bottom: 1em;
        width: 100vw;
        max-width: 800px;
    }
}
.restaurants{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid limegreen;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    &__h2{
        flex-grow: 1;
        margin: auto;
        margin-bottom: 1em;
        width: 100vw;
        max-width: 800px;
    }
}
.boite-fonction{
    width:88vw;
    max-width: 750px;
    border:1px solid black;
    background-color: $color-fond-gris;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 5px lighten($color-gris,15);
    border-radius: 1rem;
    &__nombre{
        color: white;
        background: $color-primary;
        width:1.2rem;
        height: 1.2rem;
        border-radius:1.2rem;
        text-align: center;
        margin-right: 1em;
        margin-left: -0.6em;
    }
    &__icon{
        color: $color-gris;
        margin-right: 1rem;
    }
}   
.boite-resto{
    width:90vw;
    max-width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 5px lighten($color-gris,15);
    border-radius: 1rem;
    overflow: hidden;
    border: 1px red solid;
    &__image{
        object-fit: cover;
        height:70vw;
        max-height: 180px;
        width:100%;
        margin-top:-50px;
        position:relative;
    }
    &__newtext{
        color: $color-green;
        background: $color-tertiary;
        width: 80px;
        position: absolute;
        text-align: center;
        font-size: 0.7rem;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 165px;
        padding-top:7px;
        padding-bottom: 7px;
    }
    &__plus{
        width:86vw;
        max-width: 356px;
        max-height: 60px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &--adapt{
            max-height: 60px;
            flex-grow:0.7;
        }
    }
    &__heading{
        margin-top:5px;
        margin-bottom: 0;
    }
    &__text{
        margin-top:3px;
        margin-bottom: 5px;
    }

}
/*************** Les pages de menus***************/
.main-complet{
    &__image{
        height:70vw;
        max-height: 700px;
        width: 100%;
        &--alf{            
            background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") 0 0;  
            background-size: cover;         
        }
    }
}
.main-main{
    background-color: white;
    margin-top: -15vw;
    border-radius: 4rem 4rem 0 0;
    background-color: lighten($color-fond-gris,2%);
}
.title-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:1.7rem;
    &__h1{
        font-weight: bold;
        padding-left: 1rem;
    }
    &__icon{
        padding-right: 2rem;
    }
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid yellow;
    &__h2{
        font-weight: normal;
        margin: 0 0 2px 1em;
        width: 100vw;
    }
    &__form{
        background-color: $color-tertiary;
        height:5px;
        width: 60px;
        margin-left: 1.5em;
        margin-right:0;
        margin-top:1px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        width: 86vw;
        max-width: 768px;
        height: 53px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 5px 5px lighten($color-gris,15);
        border-radius: 1rem;
        overflow: hidden;
        font-size: 1rem;
        margin-top:10px;
        margin-bottom: 10px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:0;
        margin-right: 0;
        flex-grow: 1;
        &--modif{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &--title{
            font-weight: bold;
            margin: auto auto auto 0.5em;
        }
        &--subtitle{
            width:100%;
            margin: auto auto auto 0.5em;
        }
        &--price{
            font-weight: bold;
            margin: auto 0.5em auto 0.5em;
        }
    }
    &__OK{
        color: white;
        background-color: $color-tertiary;
        text-align: center;
        vertical-align: center;
        width: 53px;
        height: 53px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
}
.button{
    text-align: center;
    &__command{
        width: 8rem;
        height:auto;
        color: white;
        background: radial-gradient(ellipse at top left, $color-secondary,transparent), radial-gradient(ellipse at bottom right,$color-primary,transparent);
        margin-left: auto;
        margin-right: auto;
        padding:15px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px lighten($color-gris,25);
    }
}