.btn{
    width: 14rem;
    margin:auto;
    margin-top: 1em;
	height: 3rem;
    color:white;
    background: radial-gradient(ellipse at top left, $color-secondary,transparent), radial-gradient(ellipse at bottom right,$color-primary,transparent);
    border-radius: 300px;
    box-shadow: 5px 5px 5px lighten($color-gris,25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition : all $duree3;
    border:none;
    &:hover{
        background:radial-gradient(ellipse at top left, lighten($color-secondary,5%),transparent), radial-gradient(ellipse at bottom right,lighten($color-primary,5%),transparent);
        box-shadow: 8px 8px 8px lighten($color-gris,25);
    }
}